body{margin: 0;padding: 0;}


header{
padding: 30px 0;
}

ul{
    margin: 0;
    padding: 0;
}

.logo{
width: 250px;
float: left;
}
.nav-bar{
    
width: 500px;
    
float: right;
}

.nav-bar ul{
margin: 0;
}

.nav-bar ul li{
display: inline-block;
padding: 0 15px;
text-transform: uppercase;
font-family: Helvetica, Arial, sans-serif;font-weight: bold;color: #777777;}


.swiper-container {
        width: 100%;
        height: 400px;
        color: #888888;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #333333;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

















.title{
    color: #150B0B;
	
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.top-bar{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #B1B1B1;
}

.landing-content{
    /* background-color: #676767; */
    padding: 80px 0 80px 0;
    height: 100vh;
}

.bottom-bar{
    height: 80px;
	
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #E4E4E4;
}

.main-content{
    height: 1000px;
	
}